
    nav{

        font-size:20;
        font-style:italic;
        background-color:rgb(4, 0, 255);
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        margin:0%;
    }
