
    nav{

        font-size:20;
        font-style:italic;
        background-color:rgb(0, 255, 195);
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        margin:0%;
    }
   ul{
    color: red;
   }
