
h1{
    align-content: center;
    font-style: oblique;
    background-color: rgb(248, 6, 6);
}
    nav{

        font-size:50;
        font-style:italic;
        color: crimson;
        background-color:rgba(35, 224, 199, 0.833);
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        margin:0%;
    }
   ul{
    color: rgb(111, 7, 171);
   
   }
