/* --- put your css here --- */ 

/* external css is imported into html using the <link> tag in the <head> section, as shown below.

  <head>
    <link rel="stylesheet" href="assignment02.css">
  </head>

*/


/* --- pre-existing css --- */


.stripey tr:nth-child(even) {
    background-color: gray;
  }
  .stripey tr:nth-child(odd) {
    background-color: white;
  }
  .stripey th {
    color: white;
    background-color: black;
  }
  .mousey td:hover {
    background-color: yellow;
  }
  .rightey td {
    text-align: right;
  }
  input[type="text"].pinkey:focus {
    background-color: pink;
  }
  


  h1{
    text-align: center; 
    font-style: oblique;
    background-color: rgb(248, 6, 6);
}
    nav{

        font-size:50;
        font-style:italic;
        background-color:rgba(228, 31, 13, 0.833);
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        margin:0%;
    }